body{
    display: flex;
    justify-content: center;
    background-image: url('/images/background.png');
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#title{
    margin-top: 25%;
    font-size: 3rem;
    font-family: fantasy;
    grid-column-start:1;
    grid-column-end: 3;
}

#dropDown{
    grid-column-start:1;
    grid-column-end: 3;
    margin:  30px auto;
   
}
#joke{
    grid-column-start:1;
    grid-column-end: 3;
    font-size: 1.5em;
    margin-top: 10px;
    gap: 20px;
    font-family: roboto;
}

